# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.html text
*.css text
*.js text
*.json text
*.md text

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg text

# GeoJSON
*.geojson text

# Fonts
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary

# Scripts
*.sh text eol=lf
*.bat text eol=crlf

# Documentation
*.txt text
*.pdf binary

# RC files
.* text